* {
    background-color: #E7A94B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Lato", sans-serif;
}

/* nav bar */
header {
    background-color: #333333;
    position: fixed;
    width: 100%;
    z-index: 1;
    border: 1px solid black;
  }

  nav {
    margin: 0;
    padding: 20px 0;
  }

  nav li {
    color: #243042;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 10px;

  }

  /* countdown */

h1 {
    font-size: 5rem;
    font-weight: bold;
    padding: 2rem;
    color: #243042;
    margin-top: 10%;
}

.coming-soon {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 0;
    border: 0.25rem solid #243042;;
    font-family: 'Acme', sans-serif;
    color: #3D4551;
}

.disclaimer {
    margin-bottom: 5%;
    padding: 0;
    font-weight: bold;
    display: flex;
    position: relative;
    color: #243042;
}

p {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #3D4551;
}

.day,
.hour,
.minute {
    font-size: 3rem;
}

.waiting {
    height: 50vh;
}


