* {
    background-color: gray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
}

.day,
.hour,
.minute,
.seconds {
    font-size: 3rem;
}

.waiting {
    height: 50vh;
}